<template>
  <section>
    <h2>Inner page</h2>
    <test-component></test-component>
  </section>
</template>

<script>
import TestComponent from '@/components/TestComponent'

export default {
  components: {
    TestComponent
  }
}
</script>
